.hydrochart .axis path,
.hydrochart .axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.hydrochart .axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.hydrochart .open {
    fill: #52B261;        
}

.hydrochart .close {
    fill: #E36B6B;
}

.hydrochart .rect {
    stroke: white;
    stroke-width: 1px;
}

.hydrochart .label {
    fill: white;
    font-size: 12px;
}

.hydrochart .hover_line {        
    stroke: black;
    stroke-width: 2px;        
}

.hydrochart .hover_text {
    fill: blue;
    font-size: 12px; 
}

.hydrochart .tooltip {   
    font-size: 12px;     
}

.hydrochart .time_indicator {
    fill: blue;
    font-weight: bolder;
    font-size: 18px;     
}

.hydrochart .time_indicator_text {
    fill: blue;
    font-size: 12px;     
}
