.axis path,
.axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.open {
    fill: #52B261;        
}

.close {
    fill: #E36B6B;
}

.rect {
    stroke: white;
    stroke-width: 1px;
}

.label {
    fill: white;
    font-size: 12px;
}

.hover_line {        
    stroke: black;
    stroke-width: 2px;        
}

.hover_text {
    fill: blue;
    font-size: 12px; 
}

.tooltip {   
    font-size: 12px;     
}

.time_indicator {
    fill: blue;
    font-weight: bolder;
    font-size: 18px;     
}

.time_indicator_text {
    fill: blue;
    font-size: 12px;     
}

.drag_handler {
    fill: blue;
    cursor: ew-resize;
}